<% layout('/layouts/boilerplate.ejs') -%>
<body>

    <div class="row">
        <div class="col-8 offset-2 mt-4">

    <h3>Add New Listing</h3>
    <form  action="/listings" method="POST" class="needs-validation">  

        <div class="mb-3 mt-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Add Catchy Title" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Home description" class="form-control" required></textarea>
            <div class="invalid-feedback">Add Short Description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Listing Image URL</label>
            <input type="text" name="listing[image][url]" placeholder="Enter Image URL/Link" class="form-control" required>

        </div>


        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" placeholder="15,000" class="form-control" required>
                <div class="invalid-feedback">Add Valid Price</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="Pakistan" class="form-control" required>
                <div class="invalid-feedback">Invalid Country Name</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="DHA Phase II, Karachi"  class="form-control" required>
            <div class="invalid-feedback">Invalid Location</div>
        </div>

        <button class="btn btn-dark mb-4 mt-3 add-btn">Add</button>
    </form>


</div>
</div>
<script src="/js/script.js"></script>
</body>